*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
.home-section{
    background-image: url(img/hero-slider/2.jpg);
    height: 100vh;
    background-position: center;
}
.navbar{
    display: flex;
}
.navbar-section-1{
    background: rgba(0,0,0,0.5);
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.navbar-section-1 a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.home-link{
    color: #e23c01 !important;
}
.navbar-section-1 a:hover{
    color: #E23C01;
}
.navbar-section-1--dropdown-link{
    position: relative;
}
.navbar-section-1--dropdown-content{
    display: none; 
    position: absolute;
    background-color: #fff;
    top: 52px;
    width: 150px;
    padding: 10px;
    animation-name: dropdown-menu;
    animation-duration: 0.8s;
}
.navbar-section-1--dropdown-content a{
    display: block;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}
.navbar-section-1--dropdown-link:hover .navbar-section-1--dropdown-content{
    display: block;
}
.navbar-section-2{
    background-color: #313038;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-section-2 i{
    color: #F43F00;
}
.navbar-section-2 h5{
    color: #fff;
    font-size: 16px;
}
.navbar-section-3{
    background-color: #F43F00;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-section-3 h5{
    color: #fff;
    font-size: 16px;
}
.apply-loan-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.apply-loan-section--description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.apply-loan-section--form-section{
  
}
.apply-loan-section--description-section h1{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}
.apply-loan-section--description-section p{
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 20px;
}
.apply-loan-section--form-section form{
    background-color: #22242B;
    padding: 30px;
    margin: 50px;
}
.apply-loan-section--form-section form input{
    display: block;
}
.apply-loan-section--form-section form input:focus{
    outline: none;
}
.apply-loan-section--description-section button{
    width: fit-content;
    background-color: #22242B;
    border: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
}
.apply-loan-section--form-section input[type=text]{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.apply-loan-section--form-section input[type=number]{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.apply-loan-section--form-section input[type=email]{
    width: 100%;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.apply-loan-section--form-section form p{
    color: #57595F;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}
.apply-loan-section--form-section input[type=submit]{
    width: fit-content;
    background-color: #F43F00;
    border: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.choose-us{
    padding-bottom: 30px;
}
.choose-us h1{
    text-align: center;
    padding: 30px 0;
}
.choose-us-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px 30px;
}
.choose-us-item{
    display: flex;
}
.choose-us-item--icon-container{
    border: 2px solid #F43F00;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.choose-us-item--icon-container i{
    color: #F44A0F;
}
.choose-us-item:hover .choose-us-item--icon-container{
    background-color: #F44A0F;
}
.choose-us-item:hover i{
    color: #fff;
}
.choose-us-item h6{
    color: #22242B;
    font-size: 16px;
    font-weight: 600;
}
.choose-us-item p{
    color: #BABBBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.choose-us button{
    background-color: #F43F00;
    border: none;
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border-radius: 25px;
    margin: auto;
    display: block;
}
.already-have-loan-section{
    background-color: #E4E4E4;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.already-have-loan-section h1{
    font-size: 30px;
    letter-spacing: 2px;
}
.already-have-loan-section h1 strong{
    color: #F43F00;
}
.already-have-loan-section p{
    color: #74757B;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px;
}
.already-have-loan-section button{
    background-color: #22242B;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 25px;
    width: fit-content;
}
.loan-description-section{
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}
.loan-description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.loan-description-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
}
.loan-description img{
    max-width: 100%;
}
.loan-description h1{
    font-size: 30px;
    color: #22242B;
    font-weight: 600;
}
.loan-description p{
    color: #8C8C91;
    font-size: 14px;
    font-weight: 100;
    line-height: 20px; 
    margin: 15px 0;
}
.loan-description a{
    color: #F43F00;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
}
.loan-description i{
    color: #F43F00;
    padding-left: 5px;
}
.loan-description a:hover{
    color: #007bff;
}
.personal-loan-help-types{
    padding: 50px;
    background-color: #22242B;
}
.personal-loan-help-types h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.personal-loan-help-types--description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin: 15px 0 15px 0;
}
.personal-loan-help-types--description p{
    color: #65666C;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 14px;
}
.personal-loan-help-types--loan-types{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.personal-loan-help-types--loan-types h4{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
}
.personal-loan-help-types--loan-types i{
    color: #fff;
}
.personal-loan-help-types--loan-types--item--icon-container{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #F43F00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-loan-help-types--loan-types--item{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

/* Animation keyframes */

@keyframes dropdown-menu{
    0% {
      transform: translateY(70px);
    }

    100% {
      transform: translateY(0);
    }
}